body,
body * {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}

img {
  border: 0;
}

button,
div,
img,
svg,
video {
  position: absolute;
}

#main_container {
  position: absolute;
  background-color: #0000AA;
  border: 1px solid #000000;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 728px;
  height: 90px;
}

#main_content {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 728px;
  height: 90px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

#default_exit {
  top: -1px;
  left: -1px;
  width: 728px;
  height: 90px;
  z-index: 500;
  cursor: pointer;
}

:focus {
  outline: 0;
}

::-moz-focus-inner {
  border: 0;
}

/* Custom Styling */
@font-face {
  font-family: "ESKlarheitGrotesk Smbd";
  src: url("./fonts/ESKlarheitGrotesk-Smbd.woff");
  font-weight: normal;
}

@font-face {
  font-family: "ESKlarheitGrotesk Xbd";
  src: url("./fonts/ESKlarheitGrotesk-Xbd.woff");
  font-weight: normal;
}

.full-width {
  width: 728px;
  height: 90px;
}

.copy {
  font-family: "ESKlarheitGrotesk Xbd";
  width: 100%;
  color: #fff;
  will-change: transform;
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
}

#copy1,
#copy2 {
  left: 24px;
  letter-spacing: -2%;
}

#copy1 .line1 {
  font-size: 23px;
  top: 17px;
  left: 161px;
}

#copy1 .line2 {
  font-size: 17px;
  top: 49px;
  left: 161px;
}


#copy1 .line3 {
  font-size: 23.88px;
  top: 30px;
  left: 230px;
}


#copy2 .line1 {
  font-size: 23.88px;
  top: 29px;
}

#copy2{
  font-size: 24px;
  top: 21px;
  left: 185px;
  letter-spacing: -2%;
  line-height: 100%;
}

#copy3 {
  font-size: 23px;
  letter-spacing: -2%;
  line-height: 100%;
  left: 24px;
  top: 22px;
  color: #0000AA;
}

.term {
  font-family: "ESKlarheitGrotesk Smbd";
  color: #fff;
  font-size: 3.5px;
  letter-spacing: -2.1%;
  top: 80px;
  right: 112px;
}

#bg {
  width: 162px;
}

#card {
  width: 103px;
  height: 64.96px;
  left: 513px;
  top: 13px;
}

#cta {
  font-family: "ESKlarheitGrotesk Smbd";
  background-color: #0000AA;
  font-size: 11px;
  line-height: 32px;
  color: #fff;
  border-radius: 4px;
  width: 125px;
  height: 33px;
  top: 29px;
  left: 305px;
  text-align: center;
  display: inline-block;
  will-change: transform;
}


.last-frame {
  width: 100%;
  height: 600px;
  background-color: #fff;
  transform: translateY(600px);
  will-change: transform;
}

/* Shine effect */
#shine {
  top: 0px;
  left: 0px;
  width: 728px;
  height: 90px;
  background-image: url(./images/shine.png);
  background-position: 320px 0px;
  background-repeat: no-repeat;
  position: absolute;
  mix-blend-mode: soft-light;
  -webkit-mask-image: url(./images/mask.png);
  -webkit-mask-size: 728px 90px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-image: url(./images/mask.png);
  z-index: 1;
  mask-size: 728px;
}